## Largest product in a grid
### Problem 11

In the 20×20 grid below, four numbers along a diagonal line have been marked in red.




The product of these numbers is 26 × 63 × 78 × 14 = 1788696.

What is the greatest product of four adjacent numbers in the same direction (up, down, left, right, or diagonally) in the 20×20 grid?

In [1]:
import pandas as pd

table = pd.read_table(r'data/number_problem_11.txt', header=None, sep=' ')

number_rows = 20
number_columns = 20
table

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,8,2,22,97,38,15,0,40,0,75,4,5,7,78,52,12,50,77,91,8
1,49,49,99,40,17,81,18,57,60,87,17,40,98,43,69,48,4,56,62,0
2,81,49,31,73,55,79,14,29,93,71,40,67,53,88,30,3,49,13,36,65
3,52,70,95,23,4,60,11,42,69,24,68,56,1,32,56,71,37,2,36,91
4,22,31,16,71,51,67,63,89,41,92,36,54,22,40,40,28,66,33,13,80
5,24,47,32,60,99,3,45,2,44,75,33,53,78,36,84,20,35,17,12,50
6,32,98,81,28,64,23,67,10,26,38,40,67,59,54,70,66,18,38,64,70
7,67,26,20,68,2,62,12,20,95,63,94,39,63,8,40,91,66,49,94,21
8,24,55,58,5,66,73,99,26,97,17,78,78,96,83,14,88,34,89,63,72
9,21,36,23,9,75,0,76,44,20,45,35,14,0,61,33,97,34,31,33,95
10,78,17,53,28,22,75,31,67,15,94,3,80,4,62,16,14,9,53,56,92
11,16,39,5,42,96,35,31,47,55,58,88,24,0,17,54,24,36,29,85,57
12,86,56,0,48,35,71,89,7,5,44,44,37,44,60,21,58,51,54,17,58
13,19,80,81,68,5,94,47,69,28,73,92,13,86,52,17,77,4,89,55,40
14,4,52,8,83,97,35,99,16,7,97,57,32,16,26,26,79,33,27,98,66
15,88,36,68,87,57,62,20,72,3,46,33,67,46,55,12,32,63,93,53,69
16,4,42,16,73,38,25,39,11,24,94,72,18,8,46,29,32,40,62,76,36
17,20,69,36,41,72,30,23,88,34,62,99,69,82,67,59,85,74,4,36,16
18,20,73,35,29,78,31,90,1,74,31,49,71,48,86,81,16,23,57,5,54
19,1,70,54,71,83,51,54,69,16,92,33,48,61,43,52,1,89,19,67,48

In [2]:
max_product_up_down = 0

for i in range(number_columns):
    for x in range(number_columns-3):
        product_number = table.iloc[i][x:x+4].product()
        if product_number > max_product_up_down:
            max_product_up_down = product_number

In [3]:
max_product_lelft_right = 0

for i in range(number_rows):
    for x in range(number_rows-3):
        product_number = table.iloc[x:x+4][i].product()
        if product_number > max_product_lelft_right:
            max_product_lelft_right = product_number

In [4]:
max_product_diagonally_right = 0

for x in range(number_rows-3):
    for i in range(number_rows-3):
        product_number = table.iloc[x][i] * table.iloc[x +
                                                       1][i+1] * table.iloc[x+2][i+2] * table.iloc[x+3][i+3]
        if product_number > max_product_diagonally_right:
            max_product_diagonally_right = product_number

In [5]:
max_product_diagonally_left = 0

for x in range(number_rows-3):
    for i in range(number_rows-3):
        product_number = table.iloc[x][19-i] * table.iloc[x+1][19 -
                                                               (i+1)] * table.iloc[x+2][19-(i+2)] * table.iloc[x+3][19-(i+3)]
        if product_number > max_product_diagonally_left:
            max_product_diagonally_left = product_number

In [6]:
max(max_product_up_down, max_product_lelft_right,
    max_product_diagonally_right, max_product_diagonally_left)

70600674

## Highly divisible triangular number
### Problem 12

The sequence of triangle numbers is generated by adding the natural numbers. So the 7th triangle number would be 1 + 2 + 3 + 4 + 5 + 6 + 7 = 28. The first ten terms would be:

1, 3, 6, 10, 15, 21, 28, 36, 45, 55, ...

Let us list the factors of the first seven triangle numbers:

 1: 1
 
 3: 1,3
 
 6: 1,2,3,6
 
10: 1,2,5,10

15: 1,3,5,15

21: 1,3,7,21

28: 1,2,4,7,14,28

We can see that 28 is the first triangle number to have over five divisors.

What is the value of the first triangle number to have over five hundred divisors?

In [6]:
from collections import Counter
from operator import mul
from functools import reduce
from math import sqrt


def is_prime(n):
    for x in range(3, int(n ** 0.5) + 1, 2):
        if (n % x) == 0:
            return False

    return True


def get_primes(n):
    primes = []
    for number in range(2, n+1):
        if is_prime(number):
            primes.append(number)

    return primes


def get_factos(n):
    factors = [n]
    for x in range(1, int(sqrt(n) + 1)):
        if (n % x) == 0:
            factors.append(x)

    return factors


def get_number_factors(n):
    primes = get_primes(int(n/2))

    if is_prime(n):
        primes.append(n)

    max_iterator = len(primes)
    iterator = 0
    factors = []

    while n != 1:
        if (n / primes[iterator]).is_integer():
            factors.append(primes[iterator])
            n = n/primes[iterator]
        else:
            iterator += 1

        if iterator == max_iterator:
            break

    return reduce(mul, [x+1 for x in dict(Counter(factors)).values()])


def generate_triangle_number(position):
    return sum([x for x in range(position+1)])

In [ ]:
#position_triangle = 100
#number_of_factors = 2

while number_of_factors < 500:
    number = generate_triangle_number(position_triangle)
    number_of_factors = get_number_factors(number)
    position_triangle += 1

In [40]:
(2^5) * 3()

559153

In [53]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a


def lcm(a, b):
    return a * b // gcd(a, b)


def mmc(*args):
    return reduce(lcm, args)

In [54]:
mmc(2,3)

6

In [43]:
get_number_factors(number)

12

## Large sum
### Problem 13

Work out the first ten digits of the sum of the following one-hundred 50-digit numbers.

In [44]:
from functools import reduce
import operator

number = open(r'data/number_problem_13.txt', 'r')


def main():
    sum_number = 0
    str_number = ''

    for line in number:
        sum_number += int(line)

    return str(sum_number)[:10]


%time main()

Wall time: 1.51 ms

'5537376230'

## Longest Collatz sequence
### Problem 14

The following iterative sequence is defined for the set of positive integers:

$n → n/2 $ (n is even)

$ n → 3n + 1 $(n is odd)

Using the rule above and starting with 13, we generate the following sequence:

13 → 40 → 20 → 10 → 5 → 16 → 8 → 4 → 2 → 1
It can be seen that this sequence (starting at 13 and finishing at 1) contains 10 terms. Although it has not been proved yet (Collatz Problem), it is thought that all starting numbers finish at 1.

Which starting number, under one million, produces the longest chain?

NOTE: Once the chain starts the terms are allowed to go above one million.

In [61]:
def sequence(n):
    count = 0
    while n != 1:
        if (n % 2) == 0:
            n = n/2
        else:
            n = 3*n + 1
        count += 1
    return count

In [76]:
def main():

    max_number = 1
    iterator = 2
    for i in range(2, 1000000):
        count = sequence(i)
        if count > max_number:
            max_number = count
            iterator = i

    return iterator


%time main()

Wall time: 31.5 s

837799

## Lattice paths
### Problem 15

Starting in the top left corner of a 2×2 grid, and only being able to move to the right and down, there are exactly 6 routes to the bottom right corner.


How many such routes are there through a 20×20 grid?

LLDD

LDLD

LDDL

DLLD

DLDL

DDLL

P4 (2,2) = 4!/(2!*2!) = 6

P40 (20,20) =  40!/(20!*20!)

In [79]:
import math
(math.factorial(40)) / (math.factorial(20))**2

137846528820.0

## Power digit sum
### Problem 16

2^(15) = 32768 and the sum of its digits is 3 + 2 + 7 + 6 + 8 = 26.

What is the sum of the digits of the number 2^(1000)?

In [54]:
def main():
    number = 2**(1000)

    sum_number = 0
    for x in str(number):
        sum_number += int(x)

    return sum_number


%time main()

Wall time: 0 ns

1366

## Factorial digit sum
### Problem 20

n! means n × (n − 1) × ... × 3 × 2 × 1

For example, 10! = 10 × 9 × ... × 3 × 2 × 1 = 3628800,
and the sum of the digits in the number 10! is 3 + 6 + 2 + 8 + 8 + 0 + 0 = 27.

Find the sum of the digits in the number 100!

In [61]:
def factorial(x):
    if x == 0:
        return 1

    else:
        return x*factorial(x-1)


def main():
    number = factorial(100)

    sum_number = 0
    for x in str(number):
        sum_number += int(x)

    return sum_number


%time main()

Wall time: 0 ns

648