## Digit fifth powers
### Problem 30

Surprisingly there are only three numbers that can be written as the sum of fourth powers of their digits:

$ 1634 = 1^4 + 6^4 + 3^4 + 4^4$ 

$ 8208 = 8^4 + 2^4 + 0^4 + 8^4$

$ 9474 = 9^4 + 4^4 + 7^4 + 4^4$ 

As $1 = 1^4$ is not a sum it is not included.

The sum of these numbers is 1634 + 8208 + 9474 = 19316.

Find the sum of all the numbers that can be written as the sum of fifth powers of their digits.

In [19]:
def main():
    count = 0
    for i in range(1, 999999):
        str_number = str(i)
        sum_number = sum([int(x)**5 for x in str_number])
        if i == sum_number:
            count += sum_number

    return count-1

In [20]:
%time main()

1
4150
4151
54748
92727
93084
194979

443839

## Names scores
### Problem 22

Using names.txt, a 46K text file containing over five-thousand first names, begin by sorting it into alphabetical order. Then working out the alphabetical value for each name, multiply this value by its alphabetical position in the list to obtain a name score.

For example, when the list is sorted into alphabetical order, COLIN, which is worth 3 + 15 + 12 + 9 + 14 = 53, is the 938th name in the list. So, COLIN would obtain a score of 938 Ã— 53 = 49714.

What is the total of all the name scores in the file?

In [73]:
import string
import pandas as pd

In [127]:
def main():

    f = open(r'data/p022_names.txt', 'r')

    data = f.readlines()[0].split(',')
    data = sorted([name.replace('"', '') for name in data])
    sum_total = 0
    position = 1

    for name in data:

        name = name.replace('"', '')
        sum_letter = 0

        for letter in name:
            sum_letter += string.ascii_uppercase.index(letter) + 1

        sum_total += (sum_letter * position)

        position += 1
        
    return sum_total

%time main()

Wall time: 19.6 ms

871198282